* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
}

.header {
  width: 100%;
}
.header__navbar-bgcolor {
  background-color: #23856d;
  width: 100%;
}
.header__navbar-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding-top: 15px;
}
.header__navbar-light__about {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}
.header__navbar-light__about-list {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header__navbar-light-social {
  color: #23a6f0;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.header__navbar-light-social-list {
  display: flex;
  gap: 35px;
}
.header__navbar-light-social-list-login .social-list-login__image {
  padding-right: 15px;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 60px;
  margin: 0 auto;
  color: #fff;
}
.header__navbar .navbar__info {
  opacity: 0.6;
}
.header__navbar .navbar__info-tel {
  padding-right: 10px;
  width: 20px;
}
.header__navbar .navbar__info-span-tel {
  padding-right: 15px;
}
.header__navbar .navbar__info-span-email {
  padding-right: 12px;
}
.header__navbar .navbar__info-email {
  padding-right: 10px;
  width: 20px;
}
.header__navbar .navbar__social-list {
  display: flex;
  gap: 10px;
}

.product {
  margin-left: 195px;
  margin-right: 195px;
  background-color: #fafafa;
}
.product .container {
  width: 1440px;
  margin: 0 auto;
}
.product .container .product__card {
  display: flex;
  gap: 50px;
}
.product .container .product__card-image {
  position: relative;
}
.product .container .product__card-position__left {
  position: absolute;
  top: 400px;
  left: 290px;
  z-index: 1;
  width: 35px;
}
.product .container .product__card-position__right {
  position: absolute;
  top: 400px;
  left: 750px;
  z-index: 1;
  width: 35px;
}
.product .container .product__card-info-h4 {
  padding-bottom: 15px;
  padding-top: 30px;
  font-size: 18px;
}
.product .container .product__card-info-list {
  display: flex;
  padding-bottom: 30px;
}
.product .container .product__card-info-list__star {
  padding-right: 5px;
}
.product .container .product__card-info-list__emptystar {
  padding-right: 20px;
}
.product .container .product__card-info-list__review {
  color: #737373;
}
.product .container .product__card-info-h5 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 900;
}
.product .container .product__card-info-span {
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 15px;
}
.product .container .product__card-info-span2 {
  color: #23a6f0;
  font-weight: 800;
  font-size: 15px;
}
.product .container .product__card-info-paraghraph {
  padding-top: 40px;
  height: 60px;
  width: 450px;
  line-height: 2;
  color: #858585;
  letter-spacing: 0.5;
}
.product .container .product__card-info-ellipse {
  display: inline-block;
  padding-top: 100px;
}
.product .container .product__card-info-ellipse__blue {
  padding-right: 10px;
}
.product .container .product__card-info-ellipse__orange {
  padding-left: 10px;
  padding-right: 10px;
}
.product .container .product__card-info__button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}
.product .container .product__card-info__button .product__button-like {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.product .container .product__card-info__button .product__button-like-image {
  padding: 5px;
  border: #000;
}
.product .container .product__card-info__button-list {
  display: flex;
  flex-direction: row;
}
.product .container .product__card-info__button-btn {
  color: #fff;
  background-color: #23a6f0;
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.product .container .product__info {
  padding-top: 25px;
  padding-bottom: 25px;
}
.product .container .product__info-span {
  color: #000;
  padding-right: 20px;
  font-weight: 600;
}
.product .container .product__info-span-2 {
  color: #bdbdbd;
  padding-left: 20px;
}
.product .product__container-footer {
  padding-top: 20px;
  padding-bottom: 60px;
}

.description {
  margin-left: 190px;
  margin-right: 190px;
  background-color: #fff;
}
.description__container {
  width: 1440px;
  margin: 0 auto;
}
.description__container-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  color: #737373;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.5;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 40px;
}
.description__container-list__span {
  color: #23856d;
  padding-left: 15px;
}
.description__container-content {
  display: flex;
  gap: 150px;
}
.description__container-content-image img {
  width: 420px;
  height: 370px;
}
.description__container-content__info {
  height: 450px;
  width: 350px;
}
.description__container-content__info-h5 {
  font-size: 25px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}
.description__container-content__info-paraghraph {
  color: #737373;
  line-height: 1.2;
  padding-bottom: 30px;
}
.description__container-content__info-paraghraph2 {
  color: #737373;
  line-height: 1.2;
  padding-bottom: 30px;
}
.description__container-content__info-paraghraph3 {
  color: #737373;
  line-height: 1.2;
  padding-bottom: 30px;
}
.description__container-content__rightside-above {
  margin-bottom: 40px;
}
.description__container-content__rightside-above__h5 {
  font-size: 25px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}
.description__container-content__rightside-above .description__container-content__rightside-list__info {
  padding-bottom: 20px;
  color: #737373;
  font-weight: 600;
}
.description__container-content__rightside-above .description__container-content__rightside-list__info-img {
  margin-right: 20px;
}

.bestseller__container {
  width: 1440px;
  margin: 0 auto;
  height: 1200px;
  background-color: rgb(246, 244, 244);
}
.bestseller__container-list {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  gap: 80px;
  margin-left: 60px;
}
.bestseller__container-heading {
  padding-bottom: 20px;
  margin-left: 60px;
}
.bestseller__container-list__image {
  background-color: #fff;
  height: 400px;
  text-align: center;
}
.bestseller__container-list__image-h5 {
  font-size: 20px;
  padding-bottom: 14px;
}
.bestseller__container-list__image-paraghraph {
  padding-bottom: 14px;
  color: #737373;
}
.bestseller__container-list__image-green {
  color: #23856d;
  padding-left: 10px;
}
.bestseller__container-brand {
  margin-top: 500px;
  width: 1440px;
}
.bestseller__container-brand img {
  padding-left: 100px;
  text-align: center;
}

footer {
  padding-bottom: 30px;
  background-color: #fff;
}
footer .footer__container {
  width: 1440px;
  margin: 0 auto;
}
footer .footer__container-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
footer .footer__container-content h5 {
  font-size: 15px;
  font-weight: 800;
  padding-bottom: 20px;
}
footer .footer__container-content li {
  line-height: 2;
  margin-top: 10px;
  color: rgb(115, 115, 115);
}
footer .footer__container-head {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
footer .footer__container-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
footer .footer__container-content__touch {
  height: 210px;
}
footer .footer__container-content__touch-h4 {
  padding-bottom: 20px;
}
footer .footer__container-content__touch form {
  width: 320px;
  height: 50px;
  border: none;
}
footer .footer__container-content__touch input {
  padding-bottom: 20px;
  text-align: left;
  font-size: 15px;
}
footer .footer__container-content__touch-btn {
  padding: 5px;
  background-color: #fff;
  border: transparent;
  font-size: 15px;
  background-color: #fff;
}
footer .footer__container-content__touch-paraghraph {
  margin-top: 30px;
  color: rgb(115, 115, 115);
}/*# sourceMappingURL=leftcategory.css.map */